# Example deploy.env file that hold deployment (non-runtime) secrets.
#
# Rename this file "deploy.env", then fill in the secrets (either manually
# or with a script, that for example, assumes a role and gets temporary
# credentials).
#
# The environment variables in deploy.env are used in all deployment
# environments. If your secrets vary depending on the deployment environment,
# you may also rename this file "deploy.<environment>.env", where <environment>
# is the name of your deployment environment.

# To prevent secrets from being committed into your repository, we recommend
# you can use git-encrypt to encrypt "deploy.env" and/or
# "deploy.<environment>.env".

# Access keys for a user that has deployment permissions. You can use
# the Deployer CloudFormation Template to create this user, or use
# access keys for a AWS power user or admin. See
# https://github.com/CloudReactor/aws-role-template#deployer-policy-role-and-user
AWS_ACCESS_KEY_ID=XXX
AWS_SECRET_ACCESS_KEY=XXX

# Change to the region your ECS cluster is in.
AWS_DEFAULT_REGION=us-east-1

# Create this API key in CloudReactor. It should have the Developer access
# level for the desired Run Environment.
CLOUDREACTOR_DEPLOY_API_KEY=xxx
