{% set task_name=item %}
{
  "Rule": {{ (project_name + '-' +  task_name + '-' + env) | to_json }},
  "Targets": [
    {
      "Id": {{ (project_name + '-' +  task_name + '-' + env) | to_json }},
      "Arn":
      {% if resolved_ecs.cluster_arn is match("^arn:") %}
      {{ resolved_ecs.cluster_arn | to_json }},
      {% else %}
      "arn:aws:ecs:{{ aws_region }}:{{ resolved_aws.account_id }}:cluster/{{ resolved_ecs.cluster_arn }}",
      {% endif %}
      "RoleArn": {{ resolved_ecs.execution_role_arn | to_json }},
      "EcsParameters": {
        "LaunchType": "FARGATE",
        "NetworkConfiguration": {
          "awsvpcConfiguration": {
            "AssignPublicIp":
            {% if resolved_aws_network.assign_public_ip | default(false) %}
            "ENABLED"
            {% else %}
            "DISABLED"
            {% endif %}
            ,

            {% if resolved_aws_network.security_groups %}
            "SecurityGroups":
            {{ resolved_aws_network.security_groups | to_json }},
            {% endif %}

            "Subnets":
            {{ resolved_aws_network.subnets | to_json }}
          }
        },
        {% if resolved_ecs.platform_version is defined %}
        "PlatformVersion": "{{ resolved_ecs.platform_version }}",
        {% endif %}
        "TaskDefinitionArn": {{ task_definition_arn | to_json }},
        "TaskCount": {{ resolved_task_config.scheduled_instance_count | default(1) }}
      }
    }
  ]
}